

							<form class="center-block panel panel-info col-md-4  " >
								<div class="panel-heading "> <div class="center-block">Log in page</div> </div>
								<div class="panel-body">
									<ul class="list-group">
										<li id="output" class="center-block">
											
										</li>
										<li class="list-group-item">
											<div>Username <input type="text" ng-model="username" value=""></input> </div>
										</li>
										<li class="list-group-item">
											<div>Password <input type="text" ng-model="password" value=""></input> </div>
										</li>	
										<li class="list-group-item">
										<input type="button" class="btn center-block " ng-click="validateCredentials()" value="Log in"></input>
										</li>
										<a href="signup.html">Go to Sign up page</a>
									</ul>
								</div>
							</form>
									
								
					
	